# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
/bundle/
/build/
/out/
/coverage/
/temp/
/tmp/

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Packages
*.jar
*.war
*.ear

# OS
._*
*.Spotlight
*.Trashes
Icon?